<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <h1>Factura</h1>
    <b>Emisor</b>
    <ul>
        <li>
            CIF: {{CIF_emis}}
        </li>
        <li>
            Nombre: {{nombre_emis}}
        </li>
        <li>
            Direccion: {{dir_emis}}
        </li>
        <li>
            Poblacion: {{pob_emis}}
        </li>
        <li>
            Provincia: {{prov_emis}}
        </li>
        <li>
            Codigo Postal: {{CP_emis}}
        </li>
        <li>
            Pais: {{pais_emis}}
        </li>
        <li>
            Persona de Contacto: {{persona_cont_emis}}
        </li>
        <li>
            Email: {{email_emis}}
        </li>
        <li>
            Telefono: {{telefono_emis}}
        </li>
    </ul>

    <b>Cliente</b>
    <ul>
        <li>
            CIF: {{CIF_cliente}}
        </li>
        <li>
            Nombre: {{nombre_cliente}}
        </li>
        <li>
            Direccion: {{dir_cliente}}
        </li>
        <li>
            Poblacion: {{pob_cliente}}
        </li>
        <li>
            Provincia: {{prov_cliente}}
        </li>
        <li>
            Codigo Postal: {{CP_cliente}}
        </li>
        <li>
            Pais: {{pais_cliente}}
        </li>
        <li>
            Persona de Contacto: {{persona_cont_cliente}}
        </li>
        <li>
            Email: {{email_cliente}}
        </li>
        <li>
            Telefono: {{telefono_cliente}}
        </li>
    </ul>

    <b>Linea de detalle: </b>
    <ul>
        <li>
            Concepto: {{concepto}}
        </li>
        <li>
            Precio por unidad: {{ppu}}
        </li>
        <li>
            Unidades: {{uds}}
        </li>
        <li>
            Importe bruto: {{bruto}}
        </li>
        <li>
            Porcentaje IVA: {{iva}}
        </li>
        <li>
            Total: {{total}}
        </li>
    </ul>

    <h2>
        Total: {{total}}
    </h2>


</body>
</html>